@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-serif: "Newsreader", serif;
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", sans-serif;
}

:root {
  --ui-primary: rgb(40, 83, 255) !important;
  --ui-bg: rgb(248, 243, 238);
}

.dark {
  --ui-primary: rgb(8, 73, 236) !important;
  --ui-bg: rgb(2, 2, 2);
}

html, body, #__nuxt, #__layout {
  width: 100%;
  height: 100%;
}
